/** @format */

body {
  background-color: beige;
}

h1 {
  color: lightblue;
  transition: color 0.5s ease-in;
}

.active {
  color: tomato;
}

.sexy-font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
